@import 'App.scss';

.menu__buttons{
    grid-area: products;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;

    .btn-menu{
        width: 100px;
        height: 80px;
        background: linear-gradient($gradient-value);
        border-radius: $border;
        border: none;
        outline: none;
        font-size: 1.2rem;
        color: white;
        cursor: pointer;

        span{
            color: white;
            font-size: 2rem;
        }
    }
    .btn-unselect{
        width: 100px;
        height: 80px;
        background: $secondary-color;
        border-radius: $border;
        border: none;
        outline: none;
        font-size: 1.2rem;
        color: white;
        cursor: pointer;

        span{
            color: white;
            font-size: 2rem;
        }
        
    }
}

@media screen and (max-width: 768px){
    .menu__buttons{
        justify-content: space-around;
    }
}