@import 'App.scss';

.products__container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
    
    .product__card{
        margin-top: 0.8rem;
        border: 2px solid #C4C4C4;
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 20px 0px;
        
    
        .img-product{
            width: 100px;
            height: 85px;
            margin-top: 10px;
            object-fit: contain;
        }
        .product-name{
            
            font-weight: normal;
            font-size: 24px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            justify-content: center;
            margin: 0px;
        }
        .description{
            font-size: 1rem;
            line-height: 26px;
            text-align: center;
            color: #C4C4C4;
            margin: 0px;   
        }
        .costo{
            font-style: normal;
            font-weight: bold;
            font-size: 1.2rem;
            line-height: 28px;
            color: $main-color;
            margin-top: 0px;
            margin-bottom: 2px;
        }
    }

}

@media screen and (max-width: 768px){
    .products__container{
       justify-items:center;
    }
    .product__card{
        margin-top: 0.8rem;
     width: 220px;
     height: 230px;
     
    }
  }